<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoidHJ1bmdsdW9uZ291bWFlMDgwNjk5IiwiYSI6ImNtaG9rbDJ5dDBjMWQya3NlcGxjaHNmMTcifQ.YIh29cJOIa6Ut2NEeoOHQg</string>
	<key>UIAppFonts</key>
	<array>
		<string>BeVietnamPro-Regular.ttf</string>
		<string>BeVietnamPro-Black.ttf</string>
		<string>BeVietnamPro-Bold.ttf</string>
		<string>BeVietnamPro-SemiBold.ttf</string>
		<string>BeVietnamPro-ExtraBold.ttf</string>
		<string>BeVietnamPro-Medium.ttf</string>
	</array>
</dict>
</plist>
